<app-articles-count></app-articles-count>
<button type="button" (click)="emitValue()">random number</button>

<span>{{ random$ | async }}</span>


<hr>
<hr>
<hr>
<hr>



<app-counter #xxx>
  <button (click)="xxx.increment()" data-test-app="incrementButton">INC</button>
  <pre data-test-app="counter">{{xxx.count}}</pre>
  <button (click)="xxx.decrement()" data-test-app="decrementButton">DEC</button>
</app-counter>


<hr>
<hr>
<hr>
<hr>




<app-article-form (created)="createNewArticle($event)"></app-article-form>

<hr>
<hr>
<hr>
<hr>

<button type="button" (click)="toggleColor()">color</button>
<button type="button" (click)="toggleLarge()">font size</button>

<div *ngFor="let article of articles$ | async" data-test-app="articleItem">
  <app-article [article]="article"
               (articleDelete)="deleteArticle($event)"
  >
  </app-article>
  <div *ngIf="error">{{error}}</div>
</div>

<div [ngClass]="styles">
  {{ articles$ | async | json }}
</div>

<hr>
<hr>
<hr>

{{ counter }}

<button type="button" (click)="increment()">increment</button>

<div class="container">
  <button type="button" (click)="toggleDropdown()">
    Dropdown
  </button>
  <div class="dropdown" *ngIf="dropDownOpened">
    <ul>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </ul>
  </div>
</div>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam maxime officia ratione debitis repudiandae voluptas totam optio eveniet adipisci sint, nisi impedit. Libero rerum voluptatibus est eum rem, culpa inventore?</p>
