

<app-article-form (created)=createNewArticle($event)></app-article-form>

<hr>
<hr>
<hr>
<hr>


<div [ngClass]="styles">
  {{ articles | json }}
</div>

<button type="button" (click)="toggleColor()">color</button>
<button type="button" (click)="toggleLarge()">font size</button>

<div *ngFor="let article of articles">
  <app-article [article]="article"
               (articleDelete)="deleteArticle($event)"
  >
  </app-article>
</div>

<button type="button" (click)="createNewArticle()">create article</button>

<hr>
<hr>
<hr>

{{ counter }}

<button type="button" (click)="increment()">increment</button>

<div class="container">
  <button type="button" (click)="toggleDropdown()">
    Dropdown
  </button>
  <div class="dropdown" *ngIf="dropDownOpened">
    <ul>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </ul>
  </div>
</div>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam maxime officia ratione debitis repudiandae voluptas totam optio eveniet adipisci sint, nisi impedit. Libero rerum voluptatibus est eum rem, culpa inventore?</p>
